<section id="header">
    <nav class="navbar navbar-expand-lg bg-white fixed-top">
        <div class="container">
            <!-- Brand Logo -->
            <a class="navbar-brand" href="{% url 'home' %}">
                <h1 class="logo">Artist's <span>Heaven</span></h1>
            </a>

            <!-- Toggler Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar Items -->
                <ul class="navbar-nav ms-auto align-items-center">
                    <!-- Categories Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="categoryDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Categories
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
                            <li><a class="dropdown-item" href="{% url 'paints' %}">Paints & Mediums</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Surfaces & Tools</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'drawing' %}">Drawing & Illustration</a></li>
                        </ul>
                    </li>

                    <!-- Search Bar -->
                    <li class="nav-item">
                        <form class="d-flex ms-3 search-form" role="search" method="GET" action="{% url 'search' %}">
                            <input class="form-control custom-search-input" type="search" name="query" placeholder="Search Products..." aria-label="Search" required>
                            <button class="btn custom-search-btn" type="submit">Search</button>
                        </form>
                    </li>
                    <!-- Welcome Message -->
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link welcome-text" href="{% url 'profile' %}"><i><b>Welcome {{ request.user.first_name }} </i></b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'registration' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}

                    <!-- Cart -->
                    <li class="nav-item">
                        <a href="{% url "viewcart" %}" class="cart-container">
                            <div class="cart-icon">
                                <i class="fas fa-shopping-cart"></i>
                                <span class="cart-count">0</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>
